.Listado {
    .cambio-modo {
        float: right;
        margin-left: var(--espaciado-s);
    }

    .cambio-modo-icono {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        fill: var(--color-primario);
    }

}