.Listado {
    .cambio-modo {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.5rem;


    }

    .cambio-modo-icono {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

}