.DetalleEvento {
  height: calc(100vh - 2rem);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.DetalleEvento .maestro-botones {
  display: flex;
  gap: 1rem;
}

.DetalleEvento .maestro-botones.alinear-derecha {
  justify-content: flex-end;
}

/* Tablet - 1024px breakpoint */
@media (max-width: 1024px) {}

/* Móvil - 768px breakpoint */
@media (max-width: 768px) {}