.DetalleEvento .TabDatos {
    quimera-input[nombre="nombre"] {
        grid-column: span 3;
    }

    quimera-input[nombre="nombre_comercial"] {
        grid-column: span 3;
    }

    quimera-select[nombre="tipo_id_fiscal"] {
        grid-column: span 3;
    }

    quimera-input[nombre="id_fiscal"] {
        grid-column: span 3;
    }

    quimera-input[nombre="telefono1"] {
        grid-column: 1 / span 6;
    }

    quimera-input[nombre="telefono2"] {
        grid-column: span 6;
    }

    quimera-input[nombre="email"] {
        grid-column: span 12;
    }

    quimera-input[nombre="web"] {
        grid-column: span 12;
    }

    quimera-input[nombre="observaciones"] {
        grid-column: span 12;
    }

    /* quimera-date[nombre="fecha_baja"] {
        grid-column: span 3;
    } */

    quimera-boton {
        grid-column: span 6;
    }
}