.AltaLead {

    quimera-input[nombre="tipo"] {
        grid-column: 1 / span 6;
    }

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: span 6;
    }

    quimera-input[nombre="probabilidad"] {
        grid-column: span 6;
    }
}