#NewInventario {
  .main {
    color: $primary-color;
  }

  .form-container {
    background-color: white;
    padding: 20px;
  }

  .container-inventario-total .MuiBox-root {
    text-align: center;
    margin-top: 15px;
  }

  .form-buttons {
    margin-top: 20px;
    text-align: end;
  }
}
