.Lead .TabDatos {
    quimera-input[nombre="tipo"] {
        grid-column: 1/ span 3;
    }

    quimera-input[nombre="nombre"] {
        grid-column: span 5;
    }

    quimera-input[nombre="estado_id"] {
        grid-column: 1 / span 3;
    }

    quimera-input[nombre="fuente_id"] {
        grid-column: span 3;
    }
}