.DetalleAccion .TabDatos {
    quimera-select[nombre="estado"] {
        grid-column: 1 / span 6;
    }

    quimera-select[nombre="tipo"] {
        grid-column: span 6;
    }

    quimera-input[nombre="descripcion"] {
        grid-column: 1 / span 9;
    }

    quimera-input[nombre="fecha"] {
        grid-column: span 3;
    }
}

.DetalleAccion .TabDatos {

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: 1 / span 4;
    }

    quimera-autocompletar[nombre="contacto_id"] {
        grid-column: span 4;
    }

    quimera-input[nombre="responsable_id"] {
        grid-column: 1 / span 12;
    }

    quimera-autocompletar[nombre="oportunidad_id"] {
        grid-column: span 4;
    }
}

.DetalleAccion .TabObservaciones {
    quimera-textarea[nombre="observaciones"] {
        grid-column: span 12;
    }
}