.Contacto .TabGeneral {
    quimera-input[nombre="nombre"] {
        grid-column: 1 / span 8;
    }

    quimera-input[nombre="email"] {
        grid-column: 1 / span 4;
    }

    quimera-input[nombre="telefono1"] {
        grid-column: span 4;
    }

    quimera-input[nombre="nif"] {
        grid-column: span 4;
    }
}