/**
 * Estilos personalizados para el logo de Sanhigia
 */

.logo-app {
    transform: scale(0.7);
    transition: all 0.4s ease-in-out;
    filter: brightness(0) invert(1);
}

.logo-app:hover {
    transform: scale(0.85);
}

.cabecera-nombre-pagina {
    color: white;
    /* font-size: 1.rem; */
    font-weight: 500;
    opacity: 0.9;
}