.DetalleUsuario {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        margin: 0;
    }

    quimera-formulario {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .botones {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
}