.Usuario {
    quimera-input[nombre="nombre"] {
        grid-column: 1 / span 12;
    }

    quimera-input[nombre="email"] {
        grid-column: 1 / span 6;
    }

    quimera-select[nombre="grupo_id"] {
        grid-column: span 6;
    }
}

.DetalleUsuario {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
        margin: 0;
    }

    .botones {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
}

quimera-modal[nombre="generarToken"] {
    dialog {
        max-width: 400px;
    }

    quimera-textarea[nombre="token"] textarea {
        font-size: 0.9em;
        height: 100px;
    }
}

.token-generado {
    margin-top: 16px;

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
    }
}

.token-textarea {
    width: 100%;
    font-size: 0.9em;
    height: 100px;
    margin-top: 12px;
    border: none;
}