.DetalleArqueo {
    quimera-input[nombre="efectivoInicial"] {
        grid-column: span 3;
    }

    quimera-select[nombre="idAgenteApertura"] {
        grid-column: span 3;
    }

    quimera-input[nombre="fechahoraApertura"] {
        grid-column: span 3;
    }

    quimera-input[nombre="fechahoraCierre"] {
        grid-column: span 3;
    }




}