.TarjetaConfiguracionCrm .tarjeta-config-descripcion {
    color: var(--color-texto-primario);
}

.TarjetaConfiguracionCrm .tarjeta-config-codigo {
    font-size: var(--tamaño-letra-s);
    color: var(--color-texto-secundario);
}

.TarjetaConfiguracionCrm .tarjeta-config-defecto {
    font-size: var(--tamaño-letra-s);
}
