header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#etiqueta-menu-usuario-abierto {
    margin-left: auto;
    order: 99;
    display: flex;
    align-items: center;

    quimera-icono {
        fill: var(--blanco);
    }
}

#boton-menu-lateral,
#etiqueta-menu-abierto {
    order: 0;
}