.Albaran .CrearLinea {
    quimera-formulario {
        max-width: 500px;
    }

    quimera-autocompletar[nombre="referencia_nueva_linea_albaran"] {
        grid-column: span 9;
    }

    quimera-input[nombre="cantidad"] {
        grid-column: span 3;
    }
}