.detalleTabs {
    margin-top: 15px;

    >div:first-of-type {
        overflow: hidden;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-behavior: smooth;

        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 10px;
            transition: 0.3s;
            color: var(--color-primario-claro);
            border-bottom: 2px solid var(--gris-2);
            font-weight: bold;
            font-size: 1rem;
            flex: 0 0 25%;
            scroll-snap-align: center;
        }

        @media screen and (max-width: 768px) {
            button {
                padding: 5px 5px;
                font-size: 0.9rem;
                margin-bottom: 10px;
                flex: 0 0 30%;
            }

        }
    }
}

.active {
    color: var(--color-primario-oscuro) !important;
    border-bottom: 2px solid var(--color-primario-claro) !important;
}

.tabHeaderSlider {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    padding-bottom: 4px;
    scrollbar-width: none;
    /* Firefox */
    flex: 1;
}

.tabHeaderSlider::-webkit-scrollbar {
    display: none;
}

.tabHeaderSlider::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

.tabHeaderSlider::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 3px;
}

.tabSliderWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.arrow {
    display: flex;
    position: relative;
    z-index: 2;
    width: 32px;
    height: 32px;
    color: var(--color-primario-oscuro);
    font-size: var(--tamaño-letra-l);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;

    :hover {
        cursor: pointer;
    }
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

/* Mostrar flechas solo si hay overflow horizontal */
.tabSliderWrapper:has(.tabHeaderSlider:overflowing) .arrow {
    display: flex;
}