quimera-input,
quimera-select,
quimera-date,
quimera-textarea,
quimera-checkbox {
    --color-borde: var(--color-texto-secundario);
    --color-focus: var(--color-primario-claro);
    --color-validacion: var(--color-texto-deshabilitado);

    label {
        display: flex;
        flex-direction: column;
        color: var(--color-texto-secundario);

        .etiqueta {
            font-size: var(--tamaño-letra-s);
            padding-left: var(--espaciado-xxs);

            .etiqueta-opcional {
                margin-left: var(--espaciado-xxs);
                color: var(--color-texto-deshabilitado);
                font-size: var(--tamaño-letra-xs);
                display: none;
            }
        }

        input,
        select {
            outline: 0;
            color: var(--color-texto-primario);
            border: none;
            border-bottom: var(--tamaño-borde-s) solid var(--color-borde);
            padding: var(--espaciado-xxs);
            font-size: var(--tamaño-letra-m);
            background-color: transparent;

            &:focus {
                background-color: var(--color-focus);
                border-color: transparent;
                border-radius: var(--redondeo-borde-xs);
            }

            &::placeholder {
                color: var(--color-texto-deshabilitado);
            }
        }

        .texto-validacion {
            margin-top: var(--espaciado-xxs);
            color: var(--color-validacion);
            font-size: var(--tamaño-letra-s);
            margin-left: var(--espaciado-xxs);
        }
    }

    &[tipo='numero'] {
        input {
            text-align: right;
        }
    }

    &[erroneo] {
        --color-borde: var(--color-error);
        --color-focus: var(--color-error-claro);
        --color-validacion: var(--color-error);
    }

    &[advertido] {
        --color-borde: var(--color-advertencia);
        --color-focus: var(--color-advertencia-claro);
        --color-validacion: var(--color-advertencia);
    }

    &[valido] {
        --color-borde: var(--color-exito);
        --color-focus: var(--color-exito-claro);
        --color-validacion: var(--color-exito);
    }

    &[opcional] label .etiqueta .etiqueta-opcional {
        display: inline;
    }

    &[deshabilitado] {
        span {
            color: var(--color-texto-deshabilitado);
        }

        input,
        select {
            background-color: var(--color-deshabilitado);
            color: var(--negro);
            border-color: transparent;
            border-radius: var(--redondeo-borde-xs);
        }

        cursor: inherit;
        pointer-events: none;
    }

    &[condensado] {
        .etiqueta {
            font-size: var(--tamaño-letra-xs);

            .etiqueta-opcional {
                font-size: var(--tamaño-letra-xxs);
            }
        }

        input,
        select {
            font-size: var(--tamaño-letra-s);
        }

        .texto-validacion {
            font-size: var(--tamaño-letra-xs);
        }
    }
}