quimera-checkbox {
    label {
        flex-direction: row;
        flex-wrap: wrap;

        .texto-validacion {
            margin-top: 0;
            flex: 0 0 100%;
            margin-left: var(--espaciado-m);
            font-size: var(--tamaño-letra-xs);
        }
    }

    &[condensado] {
        .texto-validacion {
            font-size: var(--tamaño-letra-xxs);
        }
    }
}