@keyframes moving-gradient {
    0% {
        background-position: -600px 0;
    }

    100% {
        background-position: 600px 0;
    }
}

quimera-tabla {

    :root {
        --transicion-basica: 0.12 ease-in-out;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        text-align: left;
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;

    }

    tr {
        background-color: var(--color-fondo);
    }

    tbody tr {
        &:nth-child(odd) {
            background-color: var(--color-deshabilitado);
        }

        &[data-seleccionada="true"] th,
        &[data-seleccionada="true"] td {
            font-weight: var(--grosor-letra-6);
        }
    }

    tbody[data-cargando="true"] tr {
        background: linear-gradient(to right, var(--color-fondo) 20%, var(--color-deshabilitado) 50%, var(--color-fondo) 80%);
        background-size: 120%;
        animation-name: moving-gradient;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        color: transparent;
    }

    th {
        border-bottom: var(--tamaño-borde-s) solid var(--gris-4);
        transition: background-color var(--transicion-basica), color var(--transicion-basica);
        padding: var(--espaciado-m);
        font-size: var(--tamaño-letra-m);
        font-weight: var(--grosor-letra-3);
        text-transform: capitalize;

        &[data-modo="columna"] {
            padding: var(--espaciado-xs) var(--espaciado-m);
            font-size: var(--tamaño-letra-s);
            font-weight: var(--grosor-letra-6);
            line-height: var(--tamaño-letra-l);
            vertical-align: middle;
            color: var(--color-texto-secundario);
            white-space: nowrap;
            cursor: pointer;
        }

        &[data-orden="ASC"]::after {
            content: "▲";
            float: right;
            width: 1em;
            margin-right: -1em;
        }

        &[data-orden="DESC"]::after {
            content: "▼";
            float: right;
            width: 1em;
            margin-right: -1em;
        }
    }

    td {
        padding: var(--espaciado-m);
        font-size: var(--tamaño-letra-m);
        vertical-align: middle;
        overflow-wrap: break-word;
        border-bottom: var(--tamaño-borde-s) solid var(--gris-4);
        transition: background-color var(--transicion-basica);
        white-space: nowrap;
    }

    td.moneda,
    td.numero {
        text-align: right;
    }

    th.moneda,
    th.numero {
        text-align: right;
    }
}

quimera-tabla-paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--espaciado-m);
    padding: var(--espaciado-s);
    border-radius: var(--radio-borde-m);
    gap: var(--espaciado-xs);

    >span {
        padding: var(--espaciado-xs);
    }
}