.q-badge {
    display: inline-block;
    border-radius: var(--redondeo-borde-xs);
    font-weight: var(--grosor-letra-6);
    white-space: nowrap;
}

.q-badge.sm {
    padding: var(--espaciado-xs) var(--espaciado-s);
    font-size: var(--tamaño-letra-xs);
}

.q-badge.md {
    padding: var(--espaciado-s) var(--espaciado-m);
    font-size: var(--tamaño-letra-s);
}

.q-badge.exito {
    background-color: var(--color-exito-claro);
    color: var(--color-exito-oscuro);
}

.q-badge.error {
    background-color: var(--color-error-claro);
    color: var(--color-error-oscuro);
}

.q-badge.advertencia {
    background-color: var(--color-advertencia-claro);
    color: var(--color-advertencia-oscuro);
}

.q-badge.primario {
    background-color: var(--color-primario-claro);
    color: var(--color-primario-oscuro);
}