quimera-boton {
    box-sizing: border-box;

    &[destructivo] {
        --color-primario: var(--color-error);
        --color-primario-claro: var(--color-error-claro);
        --color-primario-oscuro: var(--color-error-oscuro);
    }

    &[advertencia] {
        --color-primario: var(--color-advertencia);
        --color-primario-claro: var(--color-advertencia-claro);
        --color-primario-oscuro: var(--color-advertencia-oscuro);
    }

    &[deshabilitado] {
        --color-primario: var(--color-deshabilitado);

        button {
            cursor: inherit;
            pointer-events: none;
        }
    }

    &[variante="texto"] button {
        background-color: transparent;
        color: var(--color-primario);
    }

    &[variante="borde"] button {
        color: var(--color-primario);
        background-color: transparent;
        border: var(--tamaño-borde-m) solid var(--color-primario);
    }

    &[tamaño="pequeño"] button {
        padding: var(--espaciado-xs) var(--espaciado-s);
        font-size: var(--tamaño-letra-xs);
    }

    &[tamaño="grande"] button {
        padding: var(--espaciado-l);
        font-size: var(--tamaño-letra-l);
    }

    &[tamaño="xl"] button {
        padding: var(--espaciado-l);
        font-size: var(--tamaño-letra-xl);
    }

    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        font-weight: var(--grosor-letra-6);
        font-size: var(--tamaño-letra-s);
        line-height: 1;
        font-family: var(--font-system-ui);

        background-color: var(--color-primario);
        color: var(--blanco);

        border: 0;
        border-radius: var(--redondeo-borde-xs);

        padding: var(--espaciado-s);

        transition: background-color var(--transicion-normal),
                    color var(--transicion-normal),
                    border-color var(--transicion-normal),
                    transform var(--transicion-rapida),
                    box-shadow var(--transicion-rapida);

        &:hover {
            border-color: transparent;
            background-color: var(--color-primario-claro);
            color: var(--color-primario-oscuro);
            box-shadow: var(--sombra-s);
        }

        &:active {
            transform: scale(0.97);
            box-shadow: none;
        }

        &:focus-visible {
            outline: 2px solid var(--color-primario);
            outline-offset: 2px;
        }
    }
}