quimera-checkbox {
    --color-focus: var(--color-primario-claro);

    label {
        flex-direction: row;
        align-items: center;
        gap: var(--espaciado-xs);
        flex-wrap: wrap;
        min-height: var(--altura-control);

        input[type="checkbox"] {
            width: auto;
            margin: 0;
            cursor: pointer;
            accent-color: var(--color-primario);
        }

        .etiqueta {
            cursor: pointer;
        }

        .texto-validacion {
            flex: 0 0 100%;
            font-size: var(--tamaño-letra-xs);
        }
    }

    &:has(input:focus) {
        background-color: var(--color-focus);
        border-radius: var(--redondeo-borde-xs);
    }

    &[condensado] {
        .texto-validacion {
            font-size: var(--tamaño-letra-xxs);
        }
    }

    &[deshabilitado] {
        input[type="checkbox"] {
            cursor: inherit;
        }

        .etiqueta {
            cursor: inherit;
        }
    }
}
