quimera-checkbox {
    label {
        flex-direction: row;
        flex-wrap: wrap;

        .texto-validacion {
            flex: 0 0 100%;
            margin-left: calc(var(--espaciado-s) * 1.6);
            font-size: var(--tamaño-letra-xs);
        }
    }

    &[condensado] {
        .texto-validacion {
            font-size: var(--tamaño-letra-xxs);
        }
    }
}