quimera-formulario {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--espaciado-l) var(--espaciado-xl);
    /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
    /* gap: var(--gap-formulario); */
    place-items: center stretch;
    padding: var(--espaciado-xl) 0;
    align-items: stretch;

    quimera-input,
    quimera-select {
        grid-column: 1 / span 12;
        width: 100%;

        input,
        select {
            width: 100%;
        }
    }

    quimera-date {
        grid-column: 1 / span 3;
    }
}

@media (max-width: 768px) {
    quimera-formulario {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--gap-formulario);

        quimera-input,
        quimera-select,
        quimera-date,
        quimera-textarea,
        quimera-boton,
        quimera-checkbox {
            grid-column: 1 / -1 !important;
        }
    }
}