.detalle {
    & h2 {
        margin-top: 0;
        margin-bottom: var(--espaciado-l);
        padding-bottom: var(--espaciado-m);
        border-bottom: var(--tamaño-borde-m) solid var(--color-primario-claro);
        display: flex;
        justify-content: space-between;
        font-weight: var(--grosor-letra-6);
    }

    &>form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 0;
        column-gap: 2.5rem;

        *[todo-ancho="true"] {
            grid-column: 1 / -1;
        }
    }

    .MaestroEntidades {
        display: block !important;
    }
}