.CantidadesLineaInventario {

}
.CerrarLineaInventario {
  .MuiIcon-fontSizeLarge {
    font-size: 2.2754285714285716rem;
  }
}
.ToogleOpenLineaInventario {
  .MuiIconButton-root {
    padding: 0px;
  }
}