.AltaOportunidadVenta {
    quimera-select[nombre="estado_id"] {
        grid-column: 1 / span 6;
    }

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: span 11;
    }

    quimera-input[nombre="nombre_cliente"] {
        grid-column: span 11;
    }

    quimera-input[nombre="importe"] {
        grid-column: span 6;
    }

    quimera-input[nombre="fecha_cierre"] {
        grid-column: span 6;
    }

    quimera-input[nombre="probabilidad"] {
        grid-column: span 6;
    }

    quimera-autocompletar[nombre="responsable_id"] {
        grid-column: 1 / span 6;
    }
}