@import "@olula/componentes/tema/tema.css";

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color-scheme: light;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: #bdbdbd #e0e0e0;
}
