.detalle {
    h2 {
        margin-top: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }

    >form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        >div {
            margin-bottom: 15px;
            padding-right: 15px;
        }

        input {
            width: calc(100% - 125px);
            border: 1px solid #ccc;
            padding: 5px;
            border-radius: 5px;
            margin-left: 5px;
        }

        label {
            display: inline-block;
            width: 120px;
        }
    }

    .MaestroEntidades {
        display: block !important;
    }
}