.detalle {
    & h2 {
        margin-top: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }

    &>form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        row-gap: 0;
        column-gap: 2.5rem;

        *[todo-ancho="true"] {
            grid-column: 1 / -1;
        }

        select {
            --color-borde: var(--color-texto-secundario);
            outline: 0;
            color: var(--color-texto-primario);
            border: var(--tamaño-borde-s) solid var(--color-borde);
            border-radius: var(--redondeo-borde-s);
            padding: var(--espaciado-m);
            font-size: var(--tamaño-letra-m);
            background-color: transparent;
            width: 100%;
        }
    }

    .MaestroEntidades {
        display: block !important;
    }
}