.tarjeta-pedido {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.tarjeta-pedido-contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.2rem;
}

.tarjeta-pedido-fila {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tarjeta-pedido-derecha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}
