.lineas-venta-tpv {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: bottom;
    gap: 0.5rem;
}

.totales-venta-item {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.totales-venta-item label {
    font-weight: bold;
    margin-right: 0.5rem;
}