menu-usuario {
    position: fixed;
    top: var(--header-height);
    right: 0;
    z-index: 1002;
    width: 0px;
    display: none;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: auto;
    transition: width 0.5s ease-in-out;
    flex-shrink: 0;


    aside {
        background-color: var(--color-deshabilitado);
        height: 20%;
        padding: 1rem 1rem;
        float: none;
        position: static;
    }

    ul {
        list-style: none;
    }

    a {
        color: var(--color-texto);
        text-decoration: none !important;

        &:visited {
            color: var(--color-texto);
        }
    }

    & details {
        summary {
            cursor: pointer;

            &::marker {
                display: none;
                content: "";
            }

            /* &::after {
                content: "▸";
                display: block;
                flex-grow: 1;
                text-align: right;
            } */
        }

        /* &[open] summary::after {
            content: "▾";
        } */

        ul {
            padding-left: 2.5rem;
        }
    }

    a,
    summary {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

menu-usuario.activo {
    width: 275px;
    display: block;
}

#boton-menu-usuario {
    display: none;
}

#menu-usuario-abierto {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* #etiqueta-menu-usuario-abierto {
    user-select: none;
    display: inline-block;
    margin-top: 11px;
    height: 24px;
    width: 24px;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        margin-bottom: 22px;
        height: 2px;
        width: 24px;
        background-color: var(--color-fondo);
        box-shadow: 0 6px 0 0 var(--color-fondo), 0 12px 0 0 var(--color-fondo);
    }
} */