.Factura .TabDatos {
    quimera-date[nombre="fecha"] {
        grid-column: span 2;
    }

    quimera-date[nombre="hora"] {
        grid-column: span 2;
    }

    quimera-select[nombre="divisa_id"] {
        grid-column: span 4;
    }

    quimera-input[nombre="tasa_conversion"] {
        grid-column: span 4;
    }


    quimera-autocompletar[nombre="agente_id"] {
        grid-column: 1 / span 9;
    }

    quimera-input[nombre="por_comision_agente"] {
        grid-column: span 3;
    }

    quimera-select[nombre="forma_pago_id"] {
        grid-column: 1 / span 4;
    }

    quimera-select[nombre="almacen_id"] {
        grid-column: span 4;
    }

    quimera-select[nombre="grupo_iva_negocio_id"] {
        grid-column: span 4;
    }
}

@media (max-width: 768px) {
    .Factura .TabDatos quimera-formulario {
        quimera-date[nombre="fecha"] {
            grid-column: 1 / span 1 !important;
        }

        quimera-date[nombre="hora"] {
            grid-column: 2 / span 1 !important;
        }

        quimera-select[nombre="divisa_id"] {
            grid-column: 1 / span 1 !important;
        }

        quimera-input[nombre="tasa_conversion"] {
            grid-column: 2 / span 1 !important;
        }

        quimera-autocompletar[nombre="agente_id"] {
            grid-column: 1 / span 1 !important;
        }

        quimera-input[nombre="por_comision_agente"] {
            grid-column: 2 / span 1 !important;
        }

        quimera-select[nombre="forma_pago_id"] {
            grid-column: 1 / span 1 !important;
        }

        quimera-select[nombre="almacen_id"] {
            grid-column: 2 / span 1 !important;
        }

        quimera-select[nombre="grupo_iva_negocio_id"] {
            grid-column: 1 / span 1 !important;
        }
    }
}