.Cliente .TabGeneral {
    quimera-input[nombre="nombre"] {
        grid-column: span 12;
    }

    quimera-input[nombre="nombre_comercial"] {
        grid-column: span 12;
    }

    quimera-select[nombre="tipo_id_fiscal"] {
        grid-column: 1 / span 3;
    }

    quimera-input[nombre="id_fiscal"] {
        grid-column: span 3;
    }

    .TabGeneral-accion {
        grid-column: 7 / span 6;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        margin: 0;
        min-width: 0;
    }

    .TabGeneral-accion quimera-boton {
        width: max-content;
    }

    quimera-input[deshabilitado] input {
        background-color: var(--gris-0);
        color: var(--color-texto-secundario);
        border-bottom-color: var(--gris-2);
        border-radius: var(--redondeo-borde-xs);
        box-shadow: inset 0 0 0 1px var(--gris-1);
    }

    quimera-select[deshabilitado] select {
        background-color: var(--gris-0);
        color: var(--color-texto-secundario);
        border-bottom-color: var(--gris-2);
        border-radius: var(--redondeo-borde-xs);
        box-shadow: inset 0 0 0 1px var(--gris-1);
    }

    quimera-input[deshabilitado] .etiqueta,
    quimera-select[deshabilitado] .etiqueta {
        color: var(--color-texto-secundario);
    }

    quimera-input[nombre="telefono1"] {
        grid-column: 1 / span 6;
    }

    quimera-input[nombre="telefono2"] {
        grid-column: span 6;
    }

    quimera-input[nombre="email"] {
        grid-column: span 12;
    }

    quimera-input[nombre="web"] {
        grid-column: span 12;
    }

    quimera-input[nombre="observaciones"] {
        grid-column: span 12;
    }

    quimera-date[nombre="fecha_baja"] {
        grid-column: span 3;
    }

    quimera-boton {
        grid-column: span 6;
    }

    @media (max-width: 768px) {
        /* quimera-formulario {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        } */

        quimera-select[nombre="tipo_id_fiscal"] {
            grid-column: 1 / span 1 !important;
        }

        quimera-input[nombre="id_fiscal"] {
            grid-column: 2 / span 1 !important;
        }

        .TabGeneral-accion {
            grid-column: 1 / -1 !important;
            justify-content: flex-end;
        }
    }
}