/* .Factura .AltaFactura {
    quimera-autocompletar[nombre="factura_cliente_id"] {
        grid-column: span 12;
    }

    quimera-select[nombre="direccion_id"] {
        grid-column: span 12;
    }

    quimera-input[nombre="empresa_id"] {
        grid-column: span 12;
    }
} */