.VentaTpv .PagarEfectivoVentaTpv {
    quimera-input[nombre="importe"] {
        grid-column: span 6;
    }

    div[id="pendiente"] {
        grid-column: span 6;
    }

    .denominaciones {
        flex-wrap: wrap;
        justify-content: center;
    }
}
