.crear-motivo-devolucion {
    quimera-textarea[nombre="descripcion"] {
        grid-column: 1 / span 12;
    }

    quimera-select[nombre="tipo"] {
        grid-column: span 4;
    }

    quimera-checkbox[nombre="otros"] {
        grid-column: span 4;
    }
}