.AgenteActual {

    max-width: 200px;

    .seccion-activa {
        max-width: 200px;
        border-color: blueviolet;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
        padding: 0.3rem;
    }

    .inactivo {
        min-width: 200px;
        display: flex;
        gap: 0.2rem;
        align-items: baseline;

        /* border-color: blueviolet;
        border-width: 2px;
        border-style: solid;
        border-radius: 4px;
        padding: 0.3rem; */
    }

    quimera-autocompletar[nombre="agente_id"] {
        grid-column: span 12;
    }

}