/* Variables */
:root {
  --color-fondo: #ffffff;
  --color-primario: #3a86ff;
  --color-primario-claro: #ebf2ff;
  --gris-1: #f8f9fa;
  --gris-2: #e9ecef;
  --gris-3: #dee2e6;
  --espaciado-s: 0.5rem;
  --espaciado-m: 1rem;
  --espaciado-l: 1.5rem;
  --altura-dia: 120px;
  --altura-dia-mobile: 90px;
}

/* Estructura Principal */
.calendario-container {
  font-family: system-ui, sans-serif;
  max-width: 100%;
}

/* Cabecera */
.calendario-cabecera {
  display: flex;
  justify-content: space-between;
  padding: var(--espaciado-m);
  align-items: center;
  background: white;
  border-bottom: 1px solid var(--gris-3);
}

.calendario-navegacion {
  display: flex;
  align-items: center;
  gap: var(--espaciado-m);
}

/* Grid Principal */
.calendario-grid,
.anio-grid {
  background: var(--gris-2);
  padding: 2px;
}

.anio-grid {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 70vh;
}

.calendario-mes {
  display: flex;
  justify-content: center;
  background: var(--gris-4);
  padding: var(--espaciado-xs);
  border: 1px solid var(--gris-3);
}


/* Días */
.calendario-dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: var(--gris-1);
  padding: var(--espaciado-s);
  text-align: center;
  font-weight: 600;
}

.calendario-dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

/* Celda de Día */
.calendario-dia {
  background: white;
  min-height: var(--altura-dia);
  border: 1px solid var(--gris-3);
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.calendario-dia.otro-mes {
  background: var(--gris-1);
  opacity: 0.6;
}

.calendario-dia.hoy {
  background: var(--color-primario-claro);
  border-color: var(--color-primario);
}

.dia-numero {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: 600;
}

/* Datos */
.dia-datos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}

.dato-item {
  background: var(--color-primario-claro);
  border-left: 3px solid var(--color-primario);
  padding: 4px 6px;
  border-radius: 3px;
  overflow: hidden;
}

.dato-titulo {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  line-height: 1.2;
  word-break: break-word;
}

.mes-anio {
  scroll-margin-top: 60px;
  scroll-snap-align: start;
}

.calendario-navegacion-mes-anio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
}

/* Responsive */
@media (max-width: 768px) {
  :root {
    --altura-dia: var(--altura-dia-mobile);
  }

  .dato-titulo {
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
}