.ReglasOrganizadas {
    .Categoria {
        display: flex;
        flex-direction: column;


        .regla-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;
            border-top: 1px solid var(--gris-5);
            padding-left: 1rem;

            &.subregla {
                padding-left: 2rem;
                border: none;
            }
        }
    }

    .categoria-reglas {
        margin: 1rem 0;
        border-bottom: 1px solid var(--gris-5);
    }

    .categoria-item:nth-child(odd) {
        background-color: var(--color-deshabilitado);
    }

    .categoria-item:nth-child(even) {
        background-color: var(--color-fondo);
    }

    .categoria-header {

        align-items: center;
        cursor: pointer;
        padding: 0.5rem 0;

        h3:before {
            content: "➡️";
            display: inline-block;
            transition: transform .3s ease;
            margin-right: 5px;
        }

        &.abierto h3:before {
            transform: rotate(90deg);
        }
    }

    .categoria-header.sin-toggle {
        cursor: default;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .categoria-header.sin-toggle h3:before {
        content: "";
        margin-right: 0;
    }
}