.Lead .TabMasDatos {

    quimera-select[nombre="estado_id"] {
        grid-column: 1 / span 4;
    }

    quimera-select[nombre="fuente_id"] {
        grid-column: span 4;
    }

    quimera-autocompletar[nombre="contacto_id"] {
        grid-column: span 4;
    }

    quimera-select[nombre="tipo"] {
        grid-column: 1 / span 5;
    }

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: span 5;
    }

    quimera-input[nombre="nombre"] {
        grid-column: 1 / span 6;
    }

    quimera-input[nombre="id_fiscal"] {
        grid-column: span 6;
    }

    quimera-input[nombre="direccion"] {
        grid-column: 1 / span 12;
    }

    quimera-input[nombre="ciudad"] {
        grid-column: 1 / span 4;
    }

    quimera-input[nombre="cod_postal"] {
        grid-column: span 3;
    }

    quimera-input[nombre="provincia"] {
        grid-column: span 4;
    }

    quimera-autocompletar[nombre="pais_id"] {
        grid-column: span 3;
    }

    quimera-input[nombre="pais"] {
        grid-column: 1 / span 3;
    }

    quimera-input[nombre="telefono_1"] {
        grid-column: span 4;
    }

    quimera-input[nombre="telefono_2"] {
        grid-column: span 4;
    }

    quimera-input[nombre="nombre"] {
        grid-column: 1 / span 6;
    }

    quimera-input[nombre="email"] {
        grid-column: span 6;
    }
}