.CrearLinea {
    quimera-formulario {
        min-width: 500px;
    }

    quimera-autocompletar[nombre="idVariedad"] {
        grid-column: span 12;
    }

    quimera-input[nombre="cantidad"] {
        grid-column: span 12;
    }

}