.tarjeta-recibo-compra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
}

.tarjeta-recibo-compra-importe {
    font-variant-numeric: tabular-nums;
}
