.CrearPresupuesto {
    quimera-autocompletar[nombre="clientePresupuesto"] {
        grid-column: span 12;
    }

    quimera-input[nombre="nombre_cliente"] {
        grid-column: span 8;
    }

    quimera-input[nombre="id_fiscal"] {
        grid-column: span 4;
    }

    quimera-input[nombre="nombre_via"] {
        grid-column: span 9;
    }

    quimera-input[nombre="tipo_via"] {
        grid-column: span 3;
    }

    quimera-input[nombre="numero"],
    quimera-input[nombre="cod_postal"],
    quimera-input[nombre="apartado"],
    quimera-input[nombre="otros"] {
        grid-column: span 3;
    }

    quimera-input[nombre="ciudad"],
    quimera-input[nombre="provincia"] {
        grid-column: span 6;
    }

    quimera-autocompletar[nombre="pais_id"] {
        grid-column: span 8;
    }

    quimera-input[nombre="telefono"] {
        grid-column: span 4;
    }
}

@media (max-width: 768px) {
    .CrearPresupuesto {
        quimera-input[nombre="tipo_via"],
        quimera-input[nombre="numero"],
        quimera-input[nombre="cod_postal"],
        quimera-input[nombre="apartado"],
        quimera-input[nombre="ciudad"],
        quimera-input[nombre="provincia"] {
            grid-column: span 1 !important;
        }
    }
}
