.Pedido .TabDatos {
    quimera-input[nombre="codigo"],
    quimera-input[nombre="recibido"] {
        grid-column: span 6;
    }

    quimera-select[nombre="almacenId"],
    quimera-select[nombre="divisaId"] {
        grid-column: span 4;
    }

    quimera-input[nombre="tasaConversion"] {
        grid-column: span 3;
    }

    .TabDatos-accion {
        grid-column: span 1;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        margin: 0;
        min-width: 0;
    }

    quimera-select[nombre="formaPagoId"],
    quimera-select[nombre="grupoIvaNegocioId"] {
        grid-column: span 6;
    }

    @media (max-width: 768px) {
        quimera-input,
        quimera-select {
            grid-column: span 1 !important;
        }

        .TabDatos-accion {
            grid-column: span 1 !important;
            justify-content: flex-end;
        }
    }
}
