.DetalleOportunidad .TabDatos {

    quimera-input[nombre="cliente"] {
        grid-column: 1 / span 4;
    }

    quimera-input[nombre="lead"] {
        grid-column: span 4;
    }

    quimera-input[nombre="contacto"] {
        grid-column: span 4;
    }

    quimera-select[nombre="estado_id"] {
        grid-column: 1/ span 3;
    }

    quimera-input[nombre="probabilidad"] {
        grid-column: span 3;
    }

    quimera-input[nombre="importe"] {
        grid-column: span 3;
    }

    quimera-input[nombre="fecha_cierre"] {
        grid-column: span 3;
    }
}