.Cliente .CrearCliente {

    quimera-input[nombre="nombre"] {
        grid-column: span 12;
    }

    quimera-select[nombre="tipo_id_fiscal"] {
        grid-column: span 6;
    }

    quimera-input[nombre="id_fiscal"] {
        grid-column: span 6;
    }

    quimera-input[nombre="empresa_id"] {
        grid-column: span 6;
    }

    quimera-autocompletar[nombre="agente_id"] {
        grid-column: span 6;
    }
}