.q-avatar {
    &.baja {
        background-color: var(--color-exito-claro);
    }

    &.media {
        background-color: var(--color-advertencia-claro);
    }

    &.alta {
        background-color: var(--color-error-claro);
    }
}