.IconoConstruccion {
  max-height: 60px;
  margin-left: 100px;
  margin-bottom: 10px;
}
.HeaderIcons {
  display: flex;
}
.UnderConstructionText {
  color: black;
  font-size: 2em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Rubik",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif, "Poppins", "Quicksand" !important;
  margin-left: 5px !important;
  margin-bottom: 8px !important;
}