.MaestroFiltrosControlado {
    margin: var(--espaciado-xs);
    max-width: 350px;

    .campo-filtro {
        display: flex;
        gap: 0.5rem;

        label {
            text-align: left;
        }
    }

    quimera-boton {
        align-self: flex-end;
    }

    .interval {
        width: 100%;
        display: flex;
        gap: 0.5rem;
    }

    footer {
        grid-column: 1 / span 12;
        display: flex;
        justify-content: flex-end;
    }
}