.DetalleEstadoOportunidad {
    quimera-input[nombre="descripcion"] {
        grid-column: 1 / span 9;
    }

    quimera-input[nombre="probabilidad"] {
        grid-column: span 3;
    }

    quimera-checkbox[nombre="valorDefecto"] {
        grid-column: 1 / span 5;
    }
}