menu-lateral {
    height: 100%;
    width: 0px;
    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: auto;
    transition: width 0.5s ease-in-out;
    flex-shrink: 0;
    height: 100%;

    aside {
        background: var(--color-fondo-header);
        height: 100%;
        padding: 0 1rem;
        overflow: hidden;

        #buscador {
            display: flex;
            gap: 0.25rem;
            align-items: center;

            quimera-icono {
                padding-top: 10px;
            }
        }

        quimera-icono {
            fill: var(--color-texto-menu);
        }
    }

    ul {
        list-style: none;
    }

    a {
        color: var(--color-texto-menu);
        text-decoration: none !important;

        &:visited {
            color: var(--color-texto-menu);
        }
    }

    & details {
        summary {
            cursor: pointer;
            color: var(--color-texto-menu);

            &::marker {
                display: none;
                content: "";
            }

            &::after {
                content: "▸";
                display: block;
                flex-grow: 1;
                text-align: right;
            }
        }

        &[open] summary::after {
            content: "▾";
        }

        ul {
            padding-left: calc(2.5rem - 15px);
            border-left: 1px solid var(--color-texto-menu);
            margin-left: 12px;
            margin-bottom: 15px;

            li {
                padding: 2px 5px;
            }

            li.activo,
            li:hover {
                background: var(--gris-7);
            }
        }
    }

    a,
    summary {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

menu-lateral.activo {
    width: var(--width-menu);
}

#menu-abierto {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#boton-menu-lateral {
    display: none;
}

#etiqueta-menu-abierto {
    user-select: none;
    display: inline-block;
    margin-top: 11px;
    height: 24px;
    width: 24px;
    cursor: pointer;

    &::before {
        content: "";
        display: inline-block;
        margin-bottom: 22px;
        height: 2px;
        width: 24px;
        background-color: var(--color-fondo);
        box-shadow: 0 6px 0 0 var(--color-fondo), 0 12px 0 0 var(--color-fondo);
    }
}