.accion-celda {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accion-celda:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  width: 40px;
  margin: 0 auto;
}

/* Solución genérica para cualquier tabla con ellipsis */
.TrabajadorEvento table {
  width: 100%;
}

.TrabajadorEvento th,
.TrabajadorEvento td {
  padding: 8px;
  max-width: 0; /* Fuerza ellipsis automático */
}