
  .MasterTratosSmartsales {
    .YBQListItemTL {
      @include mobile {
        white-space: normal;
        .MuiBox-root {
          align-items: center;
        }
      }
    }
    .YBQListItemMR {
      font-size: 1.0rem;
    }
  }
  .SmartSalesMainBoxTratos {
    .SmartSalesMainBoxText {
        @include mobile {
          font-size: 24px;
        }
        white-space: normal;
        text-align: center;

    }
  }
