.RecuentoArqueo {
    quimera-formulario {
        max-width: 500px;
    }

    quimera-autocompletar[nombre="referencia_nueva_linea_pedido"] {
        grid-column: span 9;
    }

    quimera-input {
        grid-column: span 4;
    }

    div[id="recuento"] {
        grid-column: span 4;
    }

    h4 {
        grid-column: span 12;
        /* text-align: center; */
    }
}