.detalleTabs {
    margin-top: 15px;

    >div:first-of-type {
        overflow: hidden;
        margin-bottom: 15px;

        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px 10px;
            transition: 0.3s;
            color: var(--color-primario-claro);
            border-bottom: 2px solid var(--gris-2);
            font-weight: bold;
            font-size: 1rem;
        }

        @media screen and (max-width: 768px) {
            button {
                padding: 5px 5px;
                font-size: 0.9rem;
                margin-bottom: 10px;
            }

        }
    }
}

.active {
    color: var(--color-primario-oscuro) !important;
    border-bottom: 2px solid var(--color-primario-claro) !important;
}