.TarjetaTramo {
    border: 1px solid var(--gris-3);
    border-radius: var(--radio-l);
    padding: var(--espaciado-m);
    background-color: var(--blanco);

    quimera-input[nombre="lote_id"] {
        grid-column: 1 / span 5;
    }

    quimera-input[nombre="ubicacion_id"] {
        grid-column: span 5;
    }

    quimera-input[nombre="cantidad"] {
        grid-column: span 2;
    }

    &.sin-lotes:not(.sin-ubicaciones) {
        quimera-input[nombre="ubicacion_id"] {
            grid-column: 1 / span 8;
        }

        quimera-input[nombre="cantidad"] {
            grid-column: span 4;
        }
    }

    &.sin-ubicaciones:not(.sin-lotes) {
        quimera-input[nombre="lote_id"] {
            grid-column: 1 / span 8;
        }

        quimera-input[nombre="cantidad"] {
            grid-column: span 4;
        }
    }

    &.sin-lotes.sin-ubicaciones {
        quimera-input[nombre="cantidad"] {
            grid-column: 6 / span 2;
        }
    }

    .tramo-maximo {
        margin-top: var(--espaciado-s);
        color: var(--gris-7);
        font-size: var(--tamaño-letra-m);
    }

    .botones {
        margin-top: var(--espaciado-s);
    }
}

@media (max-width: 900px) {
    .TarjetaTramo {

        quimera-input[nombre="lote_id"],
        quimera-input[nombre="ubicacion_id"],
        quimera-input[nombre="cantidad"] {
            grid-column: 1 / span 12;
        }
    }
}