:root {
  --main-color: #ce001e;
  --secondary-color: #6666FF;
}

// .MuiButton-root {

//   --variant-containedBg: #ce001e !important;
// }

.MuiButton-containedPrimary:not(.Mui-disabled) {
  --variant-containedBg: var(--main-color);
}

.MuiButton-containedSecondary:not(.Mui-disabled) {
  --variant-containedBg: var(--secondary-color);
}

.MuiIcon-colorPrimary:not(.Mui-disabled) {
  color: var(--main-color) !important;
}