.planificador-semana {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .planificador-dia {
    color: white;
    padding: 5px;
    border-radius: 3px;
    min-width: 60px;
    min-height: 18px;
    text-align: center;
    font-size: 12px;
  }

  .planificador-dia.fondo-verde {
    background-color: #03bb2f;
  }
  .planificador-dia.fondo-amarillo {
    background-color: #fbbd06;
  }
  .planificador-dia.fondo-naranja {
    background-color: #fb7c06;
  }
  .planificador-dia.fondo-light-grey {
    background-color: #c5c5c5;
  }
  .planificador-dia.fondo-grey {
    background-color: #757575;
  }
  .planificador-dia.fondo-coral {
    background-color: #cd5c5c;
  }
}

.column-semana {
  .MuiDataGrid-columnHeaderTitleContainer {
    display: block !important;

    .MuiDataGrid-columnHeaderTitleContainerContent {
      display: block;

      .head-semana-wrapper {
        height: 56px;
        .head-semana-title {
          height: 50%;
          line-height: 28px;
          font-weight: bold;
        }
        .head-semana-content {
          height: 50%;
          line-height: 28px;
          display: flex;
          justify-content: space-between;
          .head-semana-content-day {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.headSelector-Wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 48px;
  .headSelector {
    align-content: center;
    .selector {
      display: flex;
      justify-content: space-between;
      .selector-item {
        padding: 7px 10px;
        cursor: pointer;
        border: 1px solid grey;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        border-radius: 10px;
        color: grey;

        &-selected {
          color: white;
          background-color: #0a3064;
          border: 1px solid #072146;
          // cursor: unset;
          // pointer-events: none;
        }
      }
    }
  }
  .selectorSemanalPlanificadorResumen {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 18px;
    align-items: center;
    margin: 0;
  }
}

.scheduler-wrapper {
  .MuiTabs-list {
    display: block;
  }
}
