:root {
  --main-color: #6666FF;
  --secondary-color: #ce001e;
  --palette-menu-main-color: #a13f59;
  --palette-secondary-main-color: #D95578;
  --palette-secondary-light-color: #d9758f;
  --palette-secondary-lighter-color: #d9758f;
  --palette-secondary-dark-color: #DB466E;
}
