.tituloModal {
  font-size: 1.7rem;
  line-height: 1.334;
  letter-spacing: 0em;
  color: var(--palette-menu-main-color)
}

.paper {
  max-width: 20%;
  min-height: auto;
}

@include mobile {
  .paper {
    min-width: 100%;
    min-height: 100%;
  }
}