
  .DataFrameTable {

    &CabeceraX {
      display: flex;
      // flex-direction: column;
      align-items: baseline;
    }
    &Cuerpo {
      
    }
    &NivelX {
      width: 400px;
      position: relative;
      float: left;
    }
    &ValueBox {
      height: 50px;
      width: 200px;
      flex-shrink: 0;
    }
    &CellY {
      width: 300px;
      max-width: 300px;
      height: 50px;
    }
  }
