.Cliente .CuentasBanco {
    quimera-input[nombre="iban"] {
        grid-column: 1 / span 6;
    }

    quimera-input[nombre="bic"] {
        grid-column: span 6;
    }

    .CuentasBancoAcciones,
    .CuentaBancoDomiciliacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
}