quimera-autocompletar[nombre="agente_id"] {
    grid-column: 1 / span 3;
}

quimera-input[nombre="nombre_agente"] {
    grid-column: span 7;
}

quimera-select[nombre="divisa_id"] {
    grid-column: 1 / span 3;
}

quimera-date[nombre="fecha_baja"] {
    grid-column: span 8;
}

quimera-input[nombre="serie_id"] {
    grid-column: span 3;
}

quimera-input[nombre="forma_pago_id"] {
    grid-column: span 3;
}