.AccionesRegla {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 5px;

    button {
        border: 2px solid var(--gris-9);
        border-radius: 15px;
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;
        color: black;
        transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    }

    button:hover {
        background-color: lightgrey;
        transition: background-color 0.2s ease;
        color: var(--blanco);
    }

    .boton-permitir.activo {
        background-color: var(--verde-6);
        color: var(--blanco);
    }

    .boton-cancelar.activo {
        background-color: var(--rojo-8);
        color: var(--blanco);
    }

    .boton-nulo.activo {
        background-color: var(--gris-6);
        color: var(--blanco);
    }

    .boton-nulo.activo.accion~.boton-cancelar {
        border: 2px solid var(--rojo-8);
    }

    .boton-nulo.activo:not(.accion)~.boton-permitir {
        border: 2px solid var(--verde-6);
    }

}