.ReglasGrupo {
    .AccionesReglas button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .AccionesReglas button:hover {
        background-color: #e0e0e0;
        transition: background-color 0.2s ease;
    }

    .AccionesReglas button:active {
        background-color: #d0d0d0;
    }

}