.SubReglas {
    width: 100%;
    padding: 0;

    .accion-caja {
        display: block;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        font-weight: bold;
        color: var(--blanco);
        text-align: center;
    }

    .accion-get {
        background-color: var(--color-primario);
    }

    .accion-post {
        background-color: var(--color-exito);
    }

    .accion-patch {
        background-color: var(--naranja-5);
    }

    .accion-delete {
        background-color: var(--color-error);
    }

    .accion-default {
        background-color: var(--negro);
    }

    .cebra {
        background-color: inherit;
    }

    td.id {
        width: 20%;
    }

    td.descripcion {
        white-space: normal;
    }

    td.acciones {
        width: 20%;
    }

}