.Accion .TabDatos {

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: 1 / span 12;
    }

    quimera-autocompletar[nombre="contacto_id"] {
        grid-column: 1 / span 12;
    }

    quimera-input[nombre="usuario_id"] {
        grid-column: 1 / span 12;
    }

    quimera-autocompletar[nombre="oportunidad_id"] {
        grid-column: 1 / span 12;
    }
}