/* .menuItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: var(--espaciado-l);

    & i {
        line-height: 1.2;
    }

    & svg {
        fill: var(--color-deshabilitado-oscuro) !important;
    }

    & a {
        text-decoration: none;
        color: var(--color-texto-primario);
        font-size: 1.2rem;
    }

    & a:visited {
        color: var(--color-texto-primario);
    }
}

.subMenuItems:hover {
    background-color: #fff;
}

.active {
    background-color: var(--color-fondo);
    border-radius: 5px;
}

.menuItem a:hover {
    border-bottom: 1px solid var(--color-texto-primario);
}

.desplegarMenuIcono {
    position: absolute;
    right: 0;
}

.iconoMenu {
    position: absolute;
    left: var(--espaciado-m);
} */