.menuPrincipal {
    transition: 2.2s cubic-bezier(.36, -0.01, 0, .77);
    backdrop-filter: blur(30px) saturate(2);
    -webkit-backdrop-filter: blur(30px) saturate(2);
    z-index: 10;

    & button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        margin-right: var(--espaciado-m);

        svg {
            width: 30px;
            height: 30px;
            fill: var(--blanco);
        }
    }

    & aside {
        background: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        height: 80dvh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 250px;
        justify-content: flex-start;
        padding: var(--espaciado-m);
        z-index: 10;
    }
}

.menu {
    position: absolute;
    top: 30px;
    left: 0;
}

.menuUsuario {
    background: #fff;
    display: flex;
    padding: var(--espaciado-m);

    & span {
        font-size: var(--tamano-letra-m);
        color: var(--color-texto-primario);
        padding-left: var(--espaciado-m);
    }

    & svg {
        fill: var(--color-texto-primario);
        width: 30px;
        height: 30px;
    }
}

.buscadorMenu {
    padding-left: var(--espaciado-m);
    margin-bottom: var(--espaciado-m);

    & i {
        line-height: 1.5;
        position: absolute;
        left: var(--espaciado-m);
    }

    & svg {
        fill: var(--color-deshabilitado-oscuro) !important;
    }

    input,
    input::placeholder {
        --color-borde: var(--color-texto-secundario);
        outline: 0;
        color: var(--color-texto-primario);
        border: none;
        border-bottom: var(--tamaño-borde-s) solid var(--color-borde);
        padding: var(--espaciado-xs);
        font-size: var(--tamaño-letra-xs);
        background-color: transparent;
    }

    input::placeholder {
        color: var(--color-deshabilitado-oscuro);
    }

    & span {
        position: relative;
        left: -15px;
    }

}