/* quimera-date[nombre="fecha"] {
    grid-column: span 2;
}

div[id="espacio_fecha"] {
    grid-column: span 10;
}

quimera-select[nombre="divisa_id"] {
    grid-column: span 2;
}

quimera-input[nombre="tasa_conversion"] {
    grid-column: span 2;
}

quimera-input[nombre="total_divisa_empresa"] {
    grid-column: span 2;
}


quimera-autocompletar[nombre="agente_id"] {
    grid-column: span 9;
}

div[id="espacio_agente"] {
    grid-column: span 3;
}

quimera-select[nombre="forma_pago_id"] {
    grid-column: span 2;
}

quimera-select[nombre="grupo_iva_negocio_id"] {
    grid-column: span 2;
} */