#NewPedido {
  .order-info {
    margin: 15px 0;
    width: 100%;

    .MuiFormControl-root {
      width: 100%;
    }
  }

  .form-container {
    .MuiTextField-root {
      width: 100%;
    }

    h3 {
      margin: 0;

      &.title-accordion {
        margin-left: 10px;
      }
    }
  }

  h4 {
    width: 100%;
  }

  h3 

  .new-linea {
    margin-bottom: 20px;
  }

  .new-linea-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    @include mobile {
      justify-content: space-between;
    }
  }

  .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
  }

  .centerContentTable {
    width: 100%;
    text-align: center;
  }

  .MuiInputBase-input {
    text-align: center;
  }

  .msg-success {
    padding-block-start: 10px;
    color: green;
    font-size: 16px;
    font-style: italic;
  }

  .msg-error {
    padding-block-start: 10px;
    color: red;
    font-size: 16px;
    font-style: italic;
  }

  .buttonNuevaLinea {
    color: $action-button-active;
    margin-bottom: -12px;
  }

  .rowMargin {
    margin-left: 16px;

    @include mobile {
      margin-left: 0;
    }
  }

  .Accordion{
    width: 100%;

    &-Producto {
      .header-producto {
        display: flex;

        @include mobile {
          flex-direction: column;
        }

        b {
          margin-right: 10px;
        }
      }
    }

    &-Datos {
      margin-bottom: 10px;
    }

    .bodyAccordion {
      width: calc(100% - 32px);
      margin: 0 0 16px 16px;
      word-wrap: break-word;
    }
  }

  .rowProducto {
    padding-block-start: 0px;
    padding-block-end: 10px;
  }

  .main-new-pedido-totales {
    color: white;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    &-container {
      width: 100%;
      background-color: #072146;
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;

      .totals-line {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          width: 50%;

          &.totals-title {
            width: calc(50% - 20px);
            font-weight: bold;
            text-align: end;
            padding-right: 20px;
          }
        }

        &.result {
          font-weight: bold;
          font-size: 28px;
        }
      }
    }
  }

  .jornada-cerrada-msg {
    text-align: center;

    #to-control-horario {
      width: max-content;
      background-color: #072146;
      color: white;

      .icon-calendar {
        margin-right: 8px;
      }
    }

    .select-punto-venta {
      width: 300px;
    }
  }
}