:root {
    --tamaño-letra-xxs: 0.5rem;
    --tamaño-letra-xs: 0.75rem;
    --tamaño-letra-s: 0.875rem;
    --tamaño-letra-m: 1rem;
    --tamaño-letra-l: 1.25rem;
    --tamaño-letra-xl: 1.5rem;
    --tamaño-letra-xxl: 2rem;

    --grosor-letra-1: 100;
    --grosor-letra-2: 200;
    --grosor-letra-3: 300;
    --grosor-letra-4: 400;
    --grosor-letra-5: 500;
    --grosor-letra-6: 600;
    --grosor-letra-7: 700;
    --grosor-letra-8: 800;
    --grosor-letra-9: 900;

    --font-system-ui: system-ui, sans-serif;
    --font-transitional: Charter, Bitstream Charter, Sitka Text, Cambria, serif;
    --font-old-style: Iowan Old Style, Palatino Linotype, URW Palladio L, P052,
        serif;
    --font-humanist: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans,
        source-sans-pro, sans-serif;
    --font-geometric-humanist: Avenir, Montserrat, Corbel, URW Gothic,
        source-sans-pro, sans-serif;
    --font-classical-humanist: Optima, Candara, Noto Sans, source-sans-pro,
        sans-serif;
    --font-neo-grotesque: Inter, Roboto, Helvetica Neue, Arial Nova, Nimbus Sans,
        Arial, sans-serif;
    --font-monospace-slab-serif: Nimbus Mono PS, Courier New, monospace;
    --font-monospace-code: Dank Mono, Operator Mono, Inconsolata, Fira Mono,
        ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro,
        Cascadia Code, Menlo, Consolas, DejaVu Sans Mono, monospace;
    --font-industrial: Bahnschrift, DIN Alternate, Franklin Gothic Medium,
        Nimbus Sans Narrow, sans-serif-condensed, sans-serif;
    --font-rounded-sans: ui-rounded, Hiragino Maru Gothic ProN, Quicksand,
        Comfortaa, Manjari, Arial Rounded MT, Arial Rounded MT Bold, Calibri,
        source-sans-pro, sans-serif;
    --font-slab-serif: Rockwell, Rockwell Nova, Roboto Slab, DejaVu Serif,
        Sitka Small, serif;
    --font-antique: Superclarendon, Bookman Old Style, URW Bookman, URW Bookman L,
        Georgia Pro, Georgia, serif;
    --font-didone: Didot, Bodoni MT, Noto Serif Display, URW Palladio L, P052,
        Sylfaen, serif;
    --font-handwritten: Segoe Print, Bradley Hand, Chilanka, TSCu_Comic, casual,
        cursive;
}