quimera-historias {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;

    &>ul {
        a {
            display: inline-block;
            margin-bottom: 10px;
            margin-left: -10px;

            &::before {
                content: "☀︎ / ☾"
            }
        }
    }
}

qhistorias-componente {
    display: flex;
    justify-content: center;

    section {
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

qhistorias-historia {
    article {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        section {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            background-color: var(--color-fondo);
            box-shadow: var(--gris-5) 0px 0px 4px 1px;
            border-radius: 4px 4px 0px 0px;
            padding: 30px 20px;
        }

        quimera-boton:has(button[type="submit"]) {
            --color-primario: light-dark(var(--gris-3), var(--gris-9));
            --color-primario-claro: light-dark(var(--gris-4), var(--gris-7));
            --color-primario-oscuro: var(--color-texto-primario);
            --redondeo-borde-xs: 0px;
            --blanco: var(--color-texto-primario);

            position: absolute;
            bottom: 0;
            right: 0;
        }

        aside {
            display: none;

            &[data-codigo="true"] {
                display: block;
            }

            pre {
                background-color: var(--gris-9);
                color: var(--gris-1);
                padding: 1rem;
                border-radius: 0px 0px 4px 4px;

                .tag {
                    color: var(--lima-4);
                }

                .attribute {
                    margin-left: 1rem;

                    .key {
                        color: var(--azul-4);
                    }

                    .value {
                        color: var(--uva-4);
                    }
                }
            }
        }
    }
}