/* Menu */

.menuEnlaces {
  width: 1000px;
  height: 62px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #353839;
  padding: 0px 10px;
  border-radius: 10px;
}

.menuEnlaces .lista {
  padding: 0;
  margin: 0;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuEnlaces .lista .enlace {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
}

/* Line */

.hscroll {
  padding: 0;
  margin: 0;
  height: 4px;
  width: 100%;
  margin-left: 750%;
  background-color: #4A7D3F;
  border: none;
  transition: all 0.3s ease-in-out;
}

/* Movement */

.menuItem0:hover ~ .hscroll {
  margin-left: 0%;
}

.menuItem1:hover ~ .hscroll {
  margin-left: 100%;
}

.menuItem2:hover ~ .hscroll {
  margin-left: 200%;
}

.menuItem3:hover ~ .hscroll {
  margin-left: 300%;
}

.menuItem4:hover ~ .hscroll {
  margin-left: 400%;
}

.menuItem5:hover ~ .hscroll {
  margin-left: 500%;
}

.menuItem6:hover ~ .hscroll {
  margin-left: 600%;
}

.menuItem7:hover ~ .hscroll {
  margin-left: 700%;
}