.TarjetaIncidencia .q-avatar.baja {
    background-color: var(--color-exito-claro);
}

.TarjetaIncidencia .q-avatar.media {
    background-color: var(--color-advertencia-claro);
}

.TarjetaIncidencia .q-avatar.alta {
    background-color: var(--color-error-claro);
}

.TarjetaIncidencia .tarjeta-incidencia-cliente {
    font-size: var(--tamaño-letra-m);
    color: var(--color-texto-secundario);
}

.TarjetaIncidencia .tarjeta-incidencia-fecha {
    font-size: var(--tamaño-letra-s);
    color: var(--color-texto-secundario);
}
