.QListaDocumentos {
    width: 100%;
}

.QListaDocumentos-acciones {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;
}

.QListaDocumentos-sin-datos {
    padding: 20px;
    text-align: center;
    color: var(--color-texto-secundario);
    font-size: 14px;
}