maestro-detalle {
    display: flex;
    gap: 1rem;
    overflow: auto;
    height: -webkit-fill-available;

    .Maestro {
        max-height: calc(94vh - var(--alto-header));
        flex-basis: 50%;
        flex-shrink: 1;
        max-width: 48vw;
        flex-grow: 1;
        min-width: 0;
    }

    .Detalle {
        max-height: calc(94vh - var(--alto-header));
        overflow-y: auto;
        flex-basis: 50%;
        max-width: 48vw;
        flex-shrink: 1;
        flex-grow: 1;
        min-width: 0;
        border-left: 1px solid var(--gris-2);
        padding-left: 1rem;
    }

    .maestro-botones,
    .botones {
        display: flex;
        margin-top: var(--espaciado-s);
        gap: 0.5rem;
        margin-bottom: var(--espaciado-s);
        justify-content: flex-end;
    }


    .maestro-botones button {
        font-size: 0.8rem;
        cursor: pointer;
        padding: var(--espaciado-s);
    }
}

.fondo-inicio {
    width: 80%;
    margin: 0 auto;
    color: var(--mg-6);
    font-size: 15rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: -2rem; */
}

.logo-imagen {
    width: 600px;
    height: auto;
    margin-bottom: -4rem;
}

.texto-logo {
    color: var(--mg-6);
    font-size: 15rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    /* Borde negro */
    /* text-stroke is not supported in most browsers, so it's removed */
}

@media (max-width: 768px) {
    maestro-detalle {
        flex-direction: column;
    }

    .Maestro,
    .Detalle {
        flex-basis: 100%;
        max-width: 100vw !important;
        border-left: none;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        ;
    }
}