maestro-detalle {
    display: flex;
    gap: 1rem;
    overflow: auto;
    height: -webkit-fill-available;

    .Maestro {
        max-height: calc(94vh - var(--alto-header));
        flex-basis: 50%;
        flex-shrink: 1;
        max-width: 48vw;
        flex-grow: 1;
        min-width: 0;
    }

    .Detalle {
        max-height: calc(94vh - var(--alto-header));
        overflow-y: auto;
        flex-basis: 50%;
        max-width: 48vw;
        flex-shrink: 1;
        flex-grow: 1;
        min-width: 0;
        border-left: 1px solid var(--gris-2);
        padding-left: 1rem;
    }

    .maestro-botones,
    .botones {
        display: flex;
        margin-top: var(--espaciado-s);
        gap: 0.5rem;
        margin-bottom: var(--espaciado-s);
        justify-content: flex-end;
    }


    .maestro-botones button {
        font-size: 0.8rem;
        cursor: pointer;
        padding: var(--espaciado-s);
    }
}

@media (max-width: 768px) {
    maestro-detalle {
        flex-direction: column;
    }

    .Maestro,
    .Detalle {
        flex-basis: 100%;
        max-width: 100vw !important;
        border-left: none;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        ;
    }
}