.AltaLead {
    quimera-autocompletar[nombre="responsable_id"] {
        grid-column: span 6;
    }

    quimera-autocompletar[nombre="cliente_id"] {
        grid-column: 1 / span 6;
    }

    quimera-select[nombre="fuente_id"] {
        grid-column: span 6;
    }

    quimera-select[nombre="estado_id"] {
        grid-column: 1 / span 6;
    }
}