.Lead .AltaAcciones {


    /* quimera-input[nombre="fecha"] {
        grid-column: span 4;
    } */

    quimera-input[nombre="descripcion"] {
        grid-column: 1 / span 10;
    }

    /* quimera-select[nombre="estado"] {
        grid-column: 1 / span 6;
    }

    quimera-select[nombre="tipo"] {
        grid-column: span 6;
    } */
}