.TarjetaLinea {


    .tarjeta-cabecera {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px;
        border-bottom: 1px solid #e0e0e0;
        gap: 16px;
    }

    .tarjeta-cabecera-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        &.completa {
            color: var(--color-exito);
        }

        &.modificada {
            color: var(--color-advertencia-oscuro);
        }
    }

    .tarjeta-cabecera-acciones {
        button {
            border: none;
            cursor: pointer;
        }

        quimera-icono {
            fill: var(--gris-7);

            box-icon {
                width: 40px;
                height: 25px;
            }

        }

        button:disabled {
            cursor: auto;

            quimera-icono {
                fill: var(--gris-4);
            }
        }
    }

    quimera-tabla {
        thead {
            visibility: hidden;
        }

    }
}